<game>
    <!-- Paramètres généraux -->
    <grid>
        <width>10</width>
        <height>10</height>
    </grid>
    <wallDensity>15</wallDensity>
    <powerups>5</powerups>
    <energypill>5</energypill>
    <ammogrid>5</ammogrid>
    <wallLines>2</wallLines>
    <mines>5</mines>
    <bombs>5</bombs>
    

    <!-- Configuration des joueurs -->
    <players>
        <player>
            <name>Balanced</name>
            <energy>75</energy>
            <ammo>7</ammo>
            <numberofBomb>2</numberofBomb>
            <numberofMine>3</numberofMine>
            <range>4</range>
        </player>
        <player>
            <name>Tanked</name>
            <energy>110</energy>
            <ammo>6</ammo>
            <numberofBomb>1</numberofBomb>
            <numberofMine>1</numberofMine>
            <range>3</range>
        </player>
        <player>
            <name>Armed</name>
            <energy>60</energy>
            <ammo>13</ammo>
            <numberofBomb>3</numberofBomb>
            <numberofMine>3</numberofMine>
            <range>5</range>
        </player>
        <player>
            <name>Random</name>
            <energy>100</energy>
            <ammo>7</ammo>
            <numberofBomb>2</numberofBomb>
            <numberofMine>3</numberofMine>
            <range>5</range>
        </player>
    </players>
</game>